@import '_var';
body {
  background: conic-gradient(
    from 180deg at 50% 57.62%,
    #000237 -14.95deg,
    #000000 27.9deg,
    #0e0034 57.28deg,
    #370000 107.08deg,
    #160000 171.16deg,
    #2f0000 196.12deg,
    #350000 218.37deg,
    #000000 288.84deg,
    #000123 324.86deg,
    #000237 345.05deg,
    #000000 387.9deg
  );
  color: #fff;
  overflow-x: hidden;
}
.hide {
  display: none;
}

section {
  height: 700px;
  border-bottom: 2px solid red;
  header {
    padding: 34px 0 0 0;
    width: 100%;
    top: 0;
    z-index: 10;
    h1 {
      color: #fff;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.07em;
    }
    .login-area {
      top: 34px;
      right: 52px;
      .button {
        font-size: 16px;
        line-height: 36px;
        padding: 0 12px;
        border-radius: 3px;
        margin: 0 5px;
        &.button-primary {
          background-color: $main-green;
          color: $gray1;
        }
        &.button-secondary {
          color: $main-green;
          background-color: rgba(0, 255, 224, 0.5);
        }
      }
    }

    button {
      color: $main-green;
      line-height: 36px;
      padding: 0 2px;
      margin: 0 15px;
    }
  }
  .banner {
    top: 300px;
    width: 100%;
    color: $main-purple;
    font-weight: 400;
    font-size: 60px;
    line-height: 87px;
    letter-spacing: 0.07em;

    h1:first-child {
      font-weight: 700;
      line-height: 71px;
      margin-bottom: 4px;
    }
  }
  #insectL,
  #insectR {
    position: absolute;
    top: 200px;
    transition: 0.6s;
    transform: scale(1.2);
  }
  #insectL {
    left: -35px;
  }
  #insectR {
    right: 0;
  }
}
#section2 {
  .jelly {
    position: absolute;
    top: 0;
    left: calc((100% - 381px) / 2);
    z-index: 3;
    transform-origin: center;
  }
  .information {
    .text-block {
      position: absolute;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 700px;
      height: 200px;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.04em;
    }

    .text-block:nth-child(1) {
      top: 18%;
      left: calc(((100% - 700px) / 2) - 351px);
      background: no-repeat center/60% url('../images/section2-text1-BG.png');
    }
    .text-block:nth-child(2) {
      top: 38%;
      left: calc((100% - 700px) / 2);
      background: no-repeat center/90% url('../images/section2-text2-BG.png');
    }
    .text-block:nth-child(3) {
      top: 22%;
      left: calc(((100% - 700px) / 2) + 351px);
      background: no-repeat center/80% url('../images/section2-text3-BG.png');
    }
  }
}
#section3 {
  height: 200vh;
  .scrollElement {
    color: pink;
    div {
      height: 40px;
    }
  }
}
