@import '_var';
body {
  background: conic-gradient(
    from 180deg at 50% 57.62%,
    #000237 -14.95deg,
    #000000 27.9deg,
    #0e0034 57.28deg,
    #370000 107.08deg,
    #160000 171.16deg,
    #2f0000 196.12deg,
    #350000 218.37deg,
    #000000 288.84deg,
    #000123 324.86deg,
    #000237 345.05deg,
    #000000 387.9deg
  );
  color: #fff;
}

header {
  padding: 34px 0 0 0;
  width: 100%;
  top: 0;
  h1 {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  .login-area {
    top: 34px;
    right: 52px;
    .button {
      font-size: 16px;
      line-height: 36px;
      padding: 0 12px;
      border-radius: 3px;
      margin: 0 5px;
      &.button-primary {
        background-color: $main-green;
        color: $gray1;
      }
      &.button-secondary {
        color: $main-green;
        background-color: rgba(0, 255, 224, 0.5);
      }
    }
  }

  button {
    color: $main-green;
    line-height: 36px;
    padding: 0 2px;
    margin: 0 15px;
  }
  // .title {
  //   transition: 0.6s;
  //   opacity: 1;
  //   transform: translateY(0px);
  //   &.hide {
  //     display: none;
  //     opacity: 0;
  //     transform: translateY(-40px);
  //   }
  // }
}
section {
  height: 900px;

  h1 {
    color: $main-purple;
    font-weight: 400;
    font-size: 60px;
    line-height: 87px;
    letter-spacing: 0.07em;
    span {
      font-weight: 700;
      line-height: 71px;
    }
  }
}
